<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.cf.dao.ItemLevelDao" >

	<resultMap id="itemLevelMap" type="ItemLevel">
		<id column="level_id" property="levelId" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="item_id" property="itemId" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="level_name" property="levelName" jdbcType="VARCHAR" javaType="String"/>
		<result column="level_amount" property="levelAmount" jdbcType="DECIMAL" javaType="BigDecimal"/>
		<result column="level_desc" property="levelDesc" jdbcType="LONGVARCHAR" javaType="String"/>
		<result column="total_number" property="totalNumber" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="single_limit_number" property="singleLimitNumber" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="book_number" property="bookNumber" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="completed_number" property="completedNumber" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="payback_days" property="paybackDays" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="payback_time" property="paybackTime" jdbcType="DATE" javaType="Date"/>
		<result column="is_share_bonus" property="isShareBonus" jdbcType="TINYINT" javaType="INTEGER"/>
		<result column="year_rate" property="yearRate" jdbcType="DOUBLE" javaType="double"/>
		<result column="investment_period" property="investmentPeriod" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="revenue_model" property="revenueModel" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="share_bonus_period" property="shareBonusPeriod" jdbcType="INTEGER" javaType="INTEGER"/>
		<result column="is_need_address" property="isNeedAddress" jdbcType="TINYINT" javaType="INTEGER"/>
		<result column="is_need_agreement" property="isNeedAgreement" jdbcType="TINYINT" javaType="INTEGER"/>
		<result column="level_status" property="levelStatus" jdbcType="TINYINT" javaType="INTEGER"/>
		<result column="level_sort" property="levelSort" jdbcType="TINYINT" javaType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="DATE" javaType="Date"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="Date"/>
		<result column="operate_account" property="operateAccount" jdbcType="VARCHAR" javaType="String"/>
	</resultMap>

	<sql id="table_name">item_level</sql>
	<sql id="select_columns">
		level_id as levelId, item_id as itemId, level_name as levelName, level_amount as levelAmount,
		level_desc as levelDesc, total_number as totalNumber, single_limit_number as singleLimitNumber,
		book_number as bookNumber, completed_number as completedNumber, payback_days as paybackDays,
		payback_time as paybackTime, is_share_bonus as isShareBonus, year_rate as yearRate,
		investment_period as investmentPeriod, revenue_model as revenueModel, share_bonus_period as shareBonusPeriod,
		is_need_address as isNeedAddress, is_need_agreement as isNeedAgreement, level_status as levelStatus,
		level_sort as levelSort, create_time as createTime, update_time as updateTime, operate_account as operateAccount,
		share_hold_rate as shareHoldRate, year_rate_max as yearRateMax
	</sql>

	<insert id="insert" parameterType="itemLevel" useGeneratedKeys="true" keyProperty="levelId" >
		INSERT INTO <include refid="table_name" />
			(level_id, item_id, level_name, level_amount, level_desc, total_number, single_limit_number,
			book_number, completed_number, payback_days, is_share_bonus, year_rate, investment_period,
			revenue_model, share_bonus_period, is_need_address, is_need_agreement, level_status, level_sort,
			create_time, operate_account, share_hold_rate, year_rate_max)
		VALUES
			(#{levelId}, #{itemId}, #{levelName}, #{levelAmount}, #{levelDesc}, #{totalNumber}, #{singleLimitNumber},
			#{bookNumber}, #{completedNumber}, #{paybackDays}, #{isShareBonus}, #{yearRate}, #{investmentPeriod},
			#{revenueModel}, #{shareBonusPeriod}, #{isNeedAddress}, #{isNeedAgreement}, #{levelStatus}, #{levelSort},
			#{createTime}, #{operateAccount}, #{shareHoldRate}, #{yearRateMax})
	</insert>

	<update id="update" parameterType="itemLevel">
		UPDATE <include refid="table_name" />
		<set>
			<if test="itemId != null and itemId != 0">
				item_id=#{itemId},
			</if>
			<if test="levelName != null and levelName != ''">
				level_name=#{levelName},
			</if>
			<if test="levelAmount != null">
				level_amount=#{levelAmount},
			</if>
			<if test="levelDesc != null and levelDesc != ''">
				level_desc=#{levelDesc},
			</if>
			<if test="totalNumber != null">
				total_number=#{totalNumber},
			</if>
			<if test="singleLimitNumber != null">
				single_limit_number=#{singleLimitNumber},
			</if>
			<if test="bookNumber != null and bookNumber != 0">
				book_number=#{bookNumber},
			</if>
			<if test="completedNumber != null and completedNumber != 0">
				completed_number=#{completedNumber},
			</if>
			<if test="paybackDays != null">
				payback_days=#{paybackDays},
			</if>
			<if test="paybackTime != null">
				payback_time=#{paybackTime},
			</if>
			<if test="isShareBonus != null">
				is_share_bonus=#{isShareBonus},
			</if>
			<if test="yearRate != null">
				year_rate=#{yearRate},
			</if>
			<if test="investmentPeriod != null">
				investment_period=#{investmentPeriod},
			</if>
			<if test="revenueModel != null">
				revenue_model=#{revenueModel},
			</if>
			<if test="shareBonusPeriod != null">
				share_bonus_period=#{shareBonusPeriod},
			</if>
			<if test="isNeedAddress != null">
				is_need_address=#{isNeedAddress},
			</if>
			<if test="isNeedAgreement != null">
				is_need_agreement=#{isNeedAgreement},
			</if>
			<if test="levelStatus != null and levelStatus != 0">
				level_status=#{levelStatus},
			</if>
			<if test="levelSort != null">
				level_sort=#{levelSort},
			</if>
			<if test="operateAccount != null and operateAccount != ''">
				operate_account=#{operateAccount},
			</if>
			<if test="shareHoldRate != null">
				share_hold_rate=#{shareHoldRate},
			</if>
			<if test="yearRateMax != null">
				year_rate_max=#{yearRateMax},
			</if>
		</set>
		<where>
			level_id = #{levelId}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="itemLevel">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where level_id=#{id}
	</select>

	<delete id="delete" parameterType="integer">
		DELETE FROM <include refid="table_name" /> WHERE level_id=#{id}
	</delete>

	<update id="updateNumber" parameterType="itemLevel">
		UPDATE <include refid="table_name" />
		<set>
			<if test="bookNumber != null">
				book_number=#{bookNumber},
			</if>
			<if test="completedNumber != null">
				completed_number=#{completedNumber},
			</if>
			<if test="levelStatus != null">
				level_status=#{levelStatus}
			</if>
		</set>
		WHERE level_id=#{levelId}
		<if test="bookNumber != null">
			and total_number-book_number>0
		</if>
		<if test="completedNumber != null">
			and total_number-completed_number>0
		</if>
	</update>

	<update id="updateStatusByItemId" parameterType="itemLevel">
		UPDATE <include refid="table_name" /> SET level_status=#{levelStatus}, operate_account=#{operateAccount} where item_id=#{itemId}
	</update>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />  FROM <include refid="table_name" />
		where 1=1
		<if test="itemId != null">
			and item_id=#{itemId}
		</if>
		<if test="levelId != null and levelId != ''">
			and level_id in (${levelId})
		</if>
		order by
		<if test="sortBy != null and sortBy != '' and order != null and order != ''">
			${sortBy} ${order},
		</if>
		level_sort asc,create_time desc
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1) FROM <include refid="table_name" />
		where 1=1
		<if test="itemId != null">
			and item_id=#{itemId}
		</if>
		<if test="levelId != null and levelId != ''">
			and level_id in (${levelId})
		</if>
		order by
		<if test="sortBy != null and sortBy != '' and order != null and order != ''">
			${sortBy} ${order},
		</if>
		level_sort asc, create_time desc
	</select>
	<!-- 分页相关结束 -->
</mapper>