<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.cf.dao.ItemDao" >

	<resultMap id="itemMap" type="Item">
		<id column="item_id" property="itemId" jdbcType="INTEGER" javaType="int"/>
		<result column="item_name" property="itemName" jdbcType="VARCHAR" javaType="String"/>
		<result column="item_profile" property="itemProfile" jdbcType="VARCHAR" javaType="String"/>
		<result column="type_id" property="typeId" jdbcType="INTEGER" javaType="int"/>
		<result column="class_id" property="classId" jdbcType="INTEGER" javaType="int"/>
		<result column="target_amount" property="targetAmount" jdbcType="DECIMAL" javaType="BigDecimal"/>
		<result column="completed_amount" property="completedAmount" jdbcType="DECIMAL" javaType="BigDecimal"/>
		<result column="preheating_days" property="preheatingDays" jdbcType="SMALLINT" javaType="short"/>
		<result column="preheating_start_time" property="preheatingStartTime" jdbcType="DATE" javaType="Date"/>
		<result column="preheating_end_time" property="preheatingEndTime" jdbcType="DATE" javaType="Date"/>
		<result column="crowd_days" property="crowdDays" jdbcType="SMALLINT" javaType="short"/>
		<result column="crowd_start_time" property="crowdStartTime" jdbcType="DATE" javaType="Date"/>
		<result column="crowd_end_time" property="crowdEndTime" jdbcType="DATE" javaType="Date"/>
		<result column="partner_id" property="partnerId" jdbcType="INTEGER" javaType="int"/>
		<result column="area_id" property="areaId" jdbcType="INTEGER" javaType="int"/>
		<result column="header_image" property="headerImage" jdbcType="VARCHAR" javaType="String"/>
		<result column="item_status" property="itemStatus" jdbcType="TINYINT" javaType="byte"/>
		<result column="item_sort" property="itemSort" jdbcType="TINYINT" javaType="byte"/>
		<result column="create_time" property="createTime" jdbcType="DATE" javaType="Date"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="Date"/>
		<result column="operate_account" property="operateAccount" jdbcType="VARCHAR" javaType="String"/>
		<result column="sponsor_name" property="sponsorName" jdbcType="VARCHAR" javaType="String"/>
	</resultMap>

	<sql id="table_name">item</sql>
	<sql id="select_columns">
		item_id as itemId, item_name as itemName, item_profile as itemProfile, type_id as typeId, class_id as classId, target_amount as targetAmount, completed_amount as completedAmount, preheating_days as preheatingDays, preheating_start_time as preheatingStartTime, preheating_end_time as preheatingEndTime, crowd_days as crowdDays, crowd_start_time as crowdStartTime, crowd_end_time as crowdEndTime, partner_id as partnerId, area_id as areaId, header_image as headerImage, item_status as itemStatus, item_sort as itemSort, create_time as createTime, update_time as updateTime, operate_account as operateAccount, sponsor_name as sponsorName
	</sql>

	<insert id="insert" parameterType="item" useGeneratedKeys="true" keyProperty="itemId" >
		INSERT INTO <include refid="table_name" />
			(item_id, item_name, item_profile, type_id, class_id, target_amount, completed_amount, preheating_days, preheating_start_time, preheating_end_time, crowd_days, crowd_start_time, crowd_end_time, partner_id, area_id, header_image, item_status, item_sort, create_time, update_time, operate_account, sponsor_name)
		VALUES
			(#{itemId}, #{itemName}, #{itemProfile}, #{typeId}, #{classId}, #{targetAmount}, #{completedAmount}, #{preheatingDays}, #{preheatingStartTime}, #{preheatingEndTime}, #{crowdDays}, #{crowdStartTime}, #{crowdEndTime}, #{partnerId}, #{areaId}, #{headerImage}, #{itemStatus}, #{itemSort}, #{createTime}, #{updateTime}, #{operateAccount}, #{sponsorName})
	</insert>

	<update id="update" parameterType="item">
		UPDATE <include refid="table_name" />
		<set>
			<if test="itemId != null and itemId != ''">
				item_id=#{itemId},
			</if>
			<if test="itemName != null and itemName != ''">
				item_name=#{itemName},
			</if>
			<if test="itemProfile != null and itemProfile != ''">
				item_profile=#{itemProfile},
			</if>
			<if test="typeId != null and typeId != ''">
				type_id=#{typeId},
			</if>
			<if test="classId != null and classId != ''">
				class_id=#{classId},
			</if>
			<if test="targetAmount != null and targetAmount != ''">
				target_amount=#{targetAmount},
			</if>
			<if test="completedAmount != null and completedAmount != ''">
				completed_amount=#{completedAmount},
			</if>
			<if test="preheatingDays != null and preheatingDays != ''">
				preheating_days=#{preheatingDays},
			</if>
			<if test="preheatingStartTime != null and preheatingStartTime != ''">
				preheating_start_time=#{preheatingStartTime},
			</if>
			<if test="preheatingEndTime != null and preheatingEndTime != ''">
				preheating_end_time=#{preheatingEndTime},
			</if>
			<if test="crowdDays != null and crowdDays != ''">
				crowd_days=#{crowdDays},
			</if>
			<if test="crowdStartTime != null and crowdStartTime != ''">
				crowd_start_time=#{crowdStartTime},
			</if>
			<if test="crowdEndTime != null and crowdEndTime != ''">
				crowd_end_time=#{crowdEndTime},
			</if>
			<if test="partnerId != null and partnerId != ''">
				partner_id=#{partnerId},
			</if>
			<if test="areaId != null and areaId != ''">
				area_id=#{areaId},
			</if>
			<if test="headerImage != null and headerImage != ''">
				header_image=#{headerImage},
			</if>
			<if test="itemStatus != null and itemStatus != ''">
				item_status=#{itemStatus},
			</if>
			<if test="itemSort != null and itemSort != ''">
				item_sort=#{itemSort},
			</if>
			<if test="createTime != null and createTime != ''">
				create_time=#{createTime},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time=#{updateTime},
			</if>
			<if test="operateAccount != null and operateAccount != ''">
				operate_account=#{operateAccount},
			</if>
			<if test="sponsorName != null and sponsorName != ''">
				sponsor_name=#{sponsorName},
			</if>
		</set>
		<where>
			item_id = #{itemId}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="item">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where item_id=#{id}
	</select>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />  FROM <include refid="table_name" />
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1) FROM <include refid="table_name" />
	</select>
	<!-- 分页相关结束 -->
</mapper>