<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.cf.dao.PartnerClassDao" >

	<resultMap id="partnerClassMap" type="PartnerClass">
		<id column="class_id" property="classId" jdbcType="INTEGER" javaType="int"/>
		<result column="class_name" property="className" jdbcType="VARCHAR" javaType="String"/>
		<result column="class_sort" property="classSort" jdbcType="TINYINT" javaType="byte"/>
	</resultMap>

	<sql id="table_name">partner_class</sql>
	<sql id="select_columns">
		class_id as classId, class_name as className, class_sort as classSort
	</sql>

	<insert id="insert" parameterType="partnerClass" useGeneratedKeys="true" keyProperty="classId" >
		INSERT INTO <include refid="table_name" />
			(class_id, class_name, class_sort)
		VALUES
			(#{classId}, #{className}, #{classSort})
	</insert>

	<update id="update" parameterType="partnerClass">
		UPDATE <include refid="table_name" />
		<set>
			<if test="classId != null and classId != ''">
				class_id=#{classId},
			</if>
			<if test="className != null and className != ''">
				class_name=#{className},
			</if>
			<if test="classSort != null and classSort != ''">
				class_sort=#{classSort},
			</if>
		</set>
		<where>
			class_id = #{classId}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="partnerClass">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where class_id=#{id}
	</select>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />  FROM <include refid="table_name" />
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1) FROM <include refid="table_name" />
	</select>
	<!-- 分页相关结束 -->
</mapper>