<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.medical.dao.GoodsCustomMapper" >
  <resultMap id="BaseResultMap" type="com.meirengu.medical.model.GoodsCustom" >
    <id column="custom_id" property="customId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="doctor_id" property="doctorId" jdbcType="INTEGER" />
    <result column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="custom_name" property="customName" jdbcType="VARCHAR" />
    <result column="custom_desc" property="customDesc" jdbcType="INTEGER" />
    <result column="custom_price" property="customPrice" jdbcType="DECIMAL" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="goods_show" property="goodsShow" jdbcType="TINYINT" />
    <result column="goods_close_reason" property="goodsCloseReason" jdbcType="VARCHAR" />
    <result column="goods_set" property="goodsSet" jdbcType="BIT" />
    <result column="custom_time" property="customTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    custom_id, goods_id, doctor_id, hospital_id, custom_name, custom_desc, custom_price, 
    goods_price, sale_num, goods_show, goods_close_reason, goods_set, custom_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_custom
    where custom_id = #{customId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_custom
    where custom_id = #{customId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meirengu.medical.model.GoodsCustom" >
    insert into goods_custom (custom_id, goods_id, doctor_id, 
      hospital_id, custom_name, custom_desc, 
      custom_price, goods_price, sale_num, 
      goods_show, goods_close_reason, goods_set, 
      custom_time)
    values (#{customId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, 
      #{hospitalId,jdbcType=INTEGER}, #{customName,jdbcType=VARCHAR}, #{customDesc,jdbcType=INTEGER}, 
      #{customPrice,jdbcType=DECIMAL}, #{goodsPrice,jdbcType=DECIMAL}, #{saleNum,jdbcType=INTEGER}, 
      #{goodsShow,jdbcType=TINYINT}, #{goodsCloseReason,jdbcType=VARCHAR}, #{goodsSet,jdbcType=BIT}, 
      #{customTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meirengu.medical.model.GoodsCustom" >
    insert into goods_custom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customId != null" >
        custom_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="hospitalId != null" >
        hospital_id,
      </if>
      <if test="customName != null" >
        custom_name,
      </if>
      <if test="customDesc != null" >
        custom_desc,
      </if>
      <if test="customPrice != null" >
        custom_price,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="goodsShow != null" >
        goods_show,
      </if>
      <if test="goodsCloseReason != null" >
        goods_close_reason,
      </if>
      <if test="goodsSet != null" >
        goods_set,
      </if>
      <if test="customTime != null" >
        custom_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customId != null" >
        #{customId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="customName != null" >
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="customDesc != null" >
        #{customDesc,jdbcType=INTEGER},
      </if>
      <if test="customPrice != null" >
        #{customPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="goodsShow != null" >
        #{goodsShow,jdbcType=TINYINT},
      </if>
      <if test="goodsCloseReason != null" >
        #{goodsCloseReason,jdbcType=VARCHAR},
      </if>
      <if test="goodsSet != null" >
        #{goodsSet,jdbcType=BIT},
      </if>
      <if test="customTime != null" >
        #{customTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meirengu.medical.model.GoodsCustom" >
    update goods_custom
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="hospitalId != null" >
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="customName != null" >
        custom_name = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="customDesc != null" >
        custom_desc = #{customDesc,jdbcType=INTEGER},
      </if>
      <if test="customPrice != null" >
        custom_price = #{customPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="goodsShow != null" >
        goods_show = #{goodsShow,jdbcType=TINYINT},
      </if>
      <if test="goodsCloseReason != null" >
        goods_close_reason = #{goodsCloseReason,jdbcType=VARCHAR},
      </if>
      <if test="goodsSet != null" >
        goods_set = #{goodsSet,jdbcType=BIT},
      </if>
      <if test="customTime != null" >
        custom_time = #{customTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where custom_id = #{customId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meirengu.medical.model.GoodsCustom" >
    update goods_custom
    set goods_id = #{goodsId,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=INTEGER},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      custom_name = #{customName,jdbcType=VARCHAR},
      custom_desc = #{customDesc,jdbcType=INTEGER},
      custom_price = #{customPrice,jdbcType=DECIMAL},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      sale_num = #{saleNum,jdbcType=INTEGER},
      goods_show = #{goodsShow,jdbcType=TINYINT},
      goods_close_reason = #{goodsCloseReason,jdbcType=VARCHAR},
      goods_set = #{goodsSet,jdbcType=BIT},
      custom_time = #{customTime,jdbcType=TIMESTAMP}
    where custom_id = #{customId,jdbcType=INTEGER}
  </update>
</mapper>