<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.medical.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.meirengu.medical.vo.GoodsVo" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="gc_id" property="gcId" jdbcType="INTEGER" />
    <result column="gc_name" property="gcName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="spec_open" property="specOpen" jdbcType="BIT" />
    <result column="spec_id" property="specId" jdbcType="INTEGER" />
    <result column="spec_name" property="specName" jdbcType="VARCHAR" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="goods_store_price" property="goodsStorePrice" jdbcType="DECIMAL" />
    <result column="goods_store_price_interval" property="goodsStorePriceInterval" jdbcType="VARCHAR" />
    <result column="goods_serial" property="goodsSerial" jdbcType="VARCHAR" />
    <result column="goods_show" property="goodsShow" jdbcType="BIT" />
    <result column="goods_click" property="goodsClick" jdbcType="INTEGER" />
    <result column="goods_state" property="goodsState" jdbcType="BIT" />
    <result column="goods_commend" property="goodsCommend" jdbcType="BIT" />
    <result column="goods_add_time" property="goodsAddTime" jdbcType="INTEGER" />
    <result column="goods_keywords" property="goodsKeywords" jdbcType="VARCHAR" />
    <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR" />
    <result column="goods_starttime" property="goodsStarttime" jdbcType="INTEGER" />
    <result column="goods_endtime" property="goodsEndtime" jdbcType="INTEGER" />
    <result column="goods_form" property="goodsForm" jdbcType="BIT" />
    <result column="transport_id" property="transportId" jdbcType="INTEGER" />
    <result column="py_price" property="pyPrice" jdbcType="DECIMAL" />
    <result column="kd_price" property="kdPrice" jdbcType="DECIMAL" />
    <result column="es_price" property="esPrice" jdbcType="DECIMAL" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="goods_close_reason" property="goodsCloseReason" jdbcType="VARCHAR" />
    <result column="goods_store_state" property="goodsStoreState" jdbcType="BIT" />
    <result column="commentnum" property="commentnum" jdbcType="INTEGER" />
    <result column="salenum" property="salenum" jdbcType="INTEGER" />
    <result column="goods_collect" property="goodsCollect" jdbcType="INTEGER" />
    <result column="goods_goldnum" property="goodsGoldnum" jdbcType="INTEGER" />
    <result column="goods_isztc" property="goodsIsztc" jdbcType="BIT" />
    <result column="goods_ztcstate" property="goodsZtcstate" jdbcType="BIT" />
    <result column="goods_ztcstartdate" property="goodsZtcstartdate" jdbcType="INTEGER" />
    <result column="goods_ztclastdate" property="goodsZtclastdate" jdbcType="INTEGER" />
    <result column="group_flag" property="groupFlag" jdbcType="BIT" />
    <result column="group_price" property="groupPrice" jdbcType="DECIMAL" />
    <result column="xianshi_flag" property="xianshiFlag" jdbcType="BIT" />
    <result column="xianshi_discount" property="xianshiDiscount" jdbcType="DECIMAL" />
    <result column="goods_transfee_charge" property="goodsTransfeeCharge" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.meirengu.medical.vo.GoodsVo" extends="BaseResultMap" >
    <result column="goods_image_more" property="goodsImageMore" jdbcType="LONGVARCHAR" />
    <result column="goods_body" property="goodsBody" jdbcType="LONGVARCHAR" />
    <result column="goods_attr" property="goodsAttr" jdbcType="LONGVARCHAR" />
    <result column="goods_spec" property="goodsSpec" jdbcType="LONGVARCHAR" />
    <result column="goods_col_img" property="goodsColImg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_name, gc_id, gc_name, brand_id, type_id, store_id, spec_open, spec_id, 
    spec_name, goods_image, goods_store_price, goods_store_price_interval, goods_serial, 
    goods_show, goods_click, goods_state, goods_commend, goods_add_time, goods_keywords, 
    goods_description, goods_starttime, goods_endtime, goods_form, transport_id, py_price, 
    kd_price, es_price, city_id, province_id, goods_close_reason, goods_store_state, 
    commentnum, salenum, goods_collect, goods_goldnum, goods_isztc, goods_ztcstate, goods_ztcstartdate, 
    goods_ztclastdate, group_flag, group_price, xianshi_flag, xianshi_discount, goods_transfee_charge
  </sql>
  <sql id="Blob_Column_List" >
    goods_image_more, goods_body, goods_attr, goods_spec, goods_col_img
  </sql>


  <select id="getDoctorData" resultMap="ResultMapWithBLOBs" parameterType="com.meirengu.medical.vo.GoodsVo" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    <if test="goodsId != null" >
      where goods_id=#{goodsId,jdbcType=INTEGER}
    </if>
    <if test="gcId != null" >
      and gc_id=#{gcId,jdbcType=INTEGER}
    </if>
    <if test="brandId != null" >
      and brand_id=#{brandId,jdbcType=INTEGER}
    </if>
    <if test="typeId != null" >
      and type_id=#{typeId,jdbcType=INTEGER}
    </if>
    <if test="storeId != null" >
      and store_id = #{storeId,jdbcType=INTEGER}
    </if>
    <if test="specId != null" >
      and spec_id = #{specId,jdbcType=INTEGER}
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meirengu.medical.model.Goods" >
    insert into goods (goods_id, goods_name, gc_id, 
      gc_name, brand_id, type_id, 
      store_id, spec_open, spec_id, 
      spec_name, goods_image, goods_store_price, 
      goods_store_price_interval, goods_serial, goods_show, 
      goods_click, goods_state, goods_commend, 
      goods_add_time, goods_keywords, goods_description, 
      goods_starttime, goods_endtime, goods_form, 
      transport_id, py_price, kd_price, 
      es_price, city_id, province_id, 
      goods_close_reason, goods_store_state, commentnum, 
      salenum, goods_collect, goods_goldnum, 
      goods_isztc, goods_ztcstate, goods_ztcstartdate, 
      goods_ztclastdate, group_flag, group_price, 
      xianshi_flag, xianshi_discount, goods_transfee_charge, 
      goods_image_more, goods_body, goods_attr, 
      goods_spec, goods_col_img)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{gcId,jdbcType=INTEGER}, 
      #{gcName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{storeId,jdbcType=INTEGER}, #{specOpen,jdbcType=BIT}, #{specId,jdbcType=INTEGER}, 
      #{specName,jdbcType=VARCHAR}, #{goodsImage,jdbcType=VARCHAR}, #{goodsStorePrice,jdbcType=DECIMAL}, 
      #{goodsStorePriceInterval,jdbcType=VARCHAR}, #{goodsSerial,jdbcType=VARCHAR}, #{goodsShow,jdbcType=BIT}, 
      #{goodsClick,jdbcType=INTEGER}, #{goodsState,jdbcType=BIT}, #{goodsCommend,jdbcType=BIT}, 
      #{goodsAddTime,jdbcType=INTEGER}, #{goodsKeywords,jdbcType=VARCHAR}, #{goodsDescription,jdbcType=VARCHAR}, 
      #{goodsStarttime,jdbcType=INTEGER}, #{goodsEndtime,jdbcType=INTEGER}, #{goodsForm,jdbcType=BIT}, 
      #{transportId,jdbcType=INTEGER}, #{pyPrice,jdbcType=DECIMAL}, #{kdPrice,jdbcType=DECIMAL}, 
      #{esPrice,jdbcType=DECIMAL}, #{cityId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{goodsCloseReason,jdbcType=VARCHAR}, #{goodsStoreState,jdbcType=BIT}, #{commentnum,jdbcType=INTEGER}, 
      #{salenum,jdbcType=INTEGER}, #{goodsCollect,jdbcType=INTEGER}, #{goodsGoldnum,jdbcType=INTEGER}, 
      #{goodsIsztc,jdbcType=BIT}, #{goodsZtcstate,jdbcType=BIT}, #{goodsZtcstartdate,jdbcType=INTEGER}, 
      #{goodsZtclastdate,jdbcType=INTEGER}, #{groupFlag,jdbcType=BIT}, #{groupPrice,jdbcType=DECIMAL}, 
      #{xianshiFlag,jdbcType=BIT}, #{xianshiDiscount,jdbcType=DECIMAL}, #{goodsTransfeeCharge,jdbcType=BIT}, 
      #{goodsImageMore,jdbcType=LONGVARCHAR}, #{goodsBody,jdbcType=LONGVARCHAR}, #{goodsAttr,jdbcType=LONGVARCHAR}, 
      #{goodsSpec,jdbcType=LONGVARCHAR}, #{goodsColImg,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meirengu.medical.model.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="gcId != null" >
        gc_id,
      </if>
      <if test="gcName != null" >
        gc_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="specOpen != null" >
        spec_open,
      </if>
      <if test="specId != null" >
        spec_id,
      </if>
      <if test="specName != null" >
        spec_name,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="goodsStorePrice != null" >
        goods_store_price,
      </if>
      <if test="goodsStorePriceInterval != null" >
        goods_store_price_interval,
      </if>
      <if test="goodsSerial != null" >
        goods_serial,
      </if>
      <if test="goodsShow != null" >
        goods_show,
      </if>
      <if test="goodsClick != null" >
        goods_click,
      </if>
      <if test="goodsState != null" >
        goods_state,
      </if>
      <if test="goodsCommend != null" >
        goods_commend,
      </if>
      <if test="goodsAddTime != null" >
        goods_add_time,
      </if>
      <if test="goodsKeywords != null" >
        goods_keywords,
      </if>
      <if test="goodsDescription != null" >
        goods_description,
      </if>
      <if test="goodsStarttime != null" >
        goods_starttime,
      </if>
      <if test="goodsEndtime != null" >
        goods_endtime,
      </if>
      <if test="goodsForm != null" >
        goods_form,
      </if>
      <if test="transportId != null" >
        transport_id,
      </if>
      <if test="pyPrice != null" >
        py_price,
      </if>
      <if test="kdPrice != null" >
        kd_price,
      </if>
      <if test="esPrice != null" >
        es_price,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="goodsCloseReason != null" >
        goods_close_reason,
      </if>
      <if test="goodsStoreState != null" >
        goods_store_state,
      </if>
      <if test="commentnum != null" >
        commentnum,
      </if>
      <if test="salenum != null" >
        salenum,
      </if>
      <if test="goodsCollect != null" >
        goods_collect,
      </if>
      <if test="goodsGoldnum != null" >
        goods_goldnum,
      </if>
      <if test="goodsIsztc != null" >
        goods_isztc,
      </if>
      <if test="goodsZtcstate != null" >
        goods_ztcstate,
      </if>
      <if test="goodsZtcstartdate != null" >
        goods_ztcstartdate,
      </if>
      <if test="goodsZtclastdate != null" >
        goods_ztclastdate,
      </if>
      <if test="groupFlag != null" >
        group_flag,
      </if>
      <if test="groupPrice != null" >
        group_price,
      </if>
      <if test="xianshiFlag != null" >
        xianshi_flag,
      </if>
      <if test="xianshiDiscount != null" >
        xianshi_discount,
      </if>
      <if test="goodsTransfeeCharge != null" >
        goods_transfee_charge,
      </if>
      <if test="goodsImageMore != null" >
        goods_image_more,
      </if>
      <if test="goodsBody != null" >
        goods_body,
      </if>
      <if test="goodsAttr != null" >
        goods_attr,
      </if>
      <if test="goodsSpec != null" >
        goods_spec,
      </if>
      <if test="goodsColImg != null" >
        goods_col_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="gcId != null" >
        #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="specOpen != null" >
        #{specOpen,jdbcType=BIT},
      </if>
      <if test="specId != null" >
        #{specId,jdbcType=INTEGER},
      </if>
      <if test="specName != null" >
        #{specName,jdbcType=VARCHAR},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsStorePrice != null" >
        #{goodsStorePrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsStorePriceInterval != null" >
        #{goodsStorePriceInterval,jdbcType=VARCHAR},
      </if>
      <if test="goodsSerial != null" >
        #{goodsSerial,jdbcType=VARCHAR},
      </if>
      <if test="goodsShow != null" >
        #{goodsShow,jdbcType=BIT},
      </if>
      <if test="goodsClick != null" >
        #{goodsClick,jdbcType=INTEGER},
      </if>
      <if test="goodsState != null" >
        #{goodsState,jdbcType=BIT},
      </if>
      <if test="goodsCommend != null" >
        #{goodsCommend,jdbcType=BIT},
      </if>
      <if test="goodsAddTime != null" >
        #{goodsAddTime,jdbcType=INTEGER},
      </if>
      <if test="goodsKeywords != null" >
        #{goodsKeywords,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null" >
        #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsStarttime != null" >
        #{goodsStarttime,jdbcType=INTEGER},
      </if>
      <if test="goodsEndtime != null" >
        #{goodsEndtime,jdbcType=INTEGER},
      </if>
      <if test="goodsForm != null" >
        #{goodsForm,jdbcType=BIT},
      </if>
      <if test="transportId != null" >
        #{transportId,jdbcType=INTEGER},
      </if>
      <if test="pyPrice != null" >
        #{pyPrice,jdbcType=DECIMAL},
      </if>
      <if test="kdPrice != null" >
        #{kdPrice,jdbcType=DECIMAL},
      </if>
      <if test="esPrice != null" >
        #{esPrice,jdbcType=DECIMAL},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="goodsCloseReason != null" >
        #{goodsCloseReason,jdbcType=VARCHAR},
      </if>
      <if test="goodsStoreState != null" >
        #{goodsStoreState,jdbcType=BIT},
      </if>
      <if test="commentnum != null" >
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="salenum != null" >
        #{salenum,jdbcType=INTEGER},
      </if>
      <if test="goodsCollect != null" >
        #{goodsCollect,jdbcType=INTEGER},
      </if>
      <if test="goodsGoldnum != null" >
        #{goodsGoldnum,jdbcType=INTEGER},
      </if>
      <if test="goodsIsztc != null" >
        #{goodsIsztc,jdbcType=BIT},
      </if>
      <if test="goodsZtcstate != null" >
        #{goodsZtcstate,jdbcType=BIT},
      </if>
      <if test="goodsZtcstartdate != null" >
        #{goodsZtcstartdate,jdbcType=INTEGER},
      </if>
      <if test="goodsZtclastdate != null" >
        #{goodsZtclastdate,jdbcType=INTEGER},
      </if>
      <if test="groupFlag != null" >
        #{groupFlag,jdbcType=BIT},
      </if>
      <if test="groupPrice != null" >
        #{groupPrice,jdbcType=DECIMAL},
      </if>
      <if test="xianshiFlag != null" >
        #{xianshiFlag,jdbcType=BIT},
      </if>
      <if test="xianshiDiscount != null" >
        #{xianshiDiscount,jdbcType=DECIMAL},
      </if>
      <if test="goodsTransfeeCharge != null" >
        #{goodsTransfeeCharge,jdbcType=BIT},
      </if>
      <if test="goodsImageMore != null" >
        #{goodsImageMore,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsBody != null" >
        #{goodsBody,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsAttr != null" >
        #{goodsAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsSpec != null" >
        #{goodsSpec,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsColImg != null" >
        #{goodsColImg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meirengu.medical.model.Goods" >
    update goods
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="gcId != null" >
        gc_id = #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        gc_name = #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="specOpen != null" >
        spec_open = #{specOpen,jdbcType=BIT},
      </if>
      <if test="specId != null" >
        spec_id = #{specId,jdbcType=INTEGER},
      </if>
      <if test="specName != null" >
        spec_name = #{specName,jdbcType=VARCHAR},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="goodsStorePrice != null" >
        goods_store_price = #{goodsStorePrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsStorePriceInterval != null" >
        goods_store_price_interval = #{goodsStorePriceInterval,jdbcType=VARCHAR},
      </if>
      <if test="goodsSerial != null" >
        goods_serial = #{goodsSerial,jdbcType=VARCHAR},
      </if>
      <if test="goodsShow != null" >
        goods_show = #{goodsShow,jdbcType=BIT},
      </if>
      <if test="goodsClick != null" >
        goods_click = #{goodsClick,jdbcType=INTEGER},
      </if>
      <if test="goodsState != null" >
        goods_state = #{goodsState,jdbcType=BIT},
      </if>
      <if test="goodsCommend != null" >
        goods_commend = #{goodsCommend,jdbcType=BIT},
      </if>
      <if test="goodsAddTime != null" >
        goods_add_time = #{goodsAddTime,jdbcType=INTEGER},
      </if>
      <if test="goodsKeywords != null" >
        goods_keywords = #{goodsKeywords,jdbcType=VARCHAR},
      </if>
      <if test="goodsDescription != null" >
        goods_description = #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsStarttime != null" >
        goods_starttime = #{goodsStarttime,jdbcType=INTEGER},
      </if>
      <if test="goodsEndtime != null" >
        goods_endtime = #{goodsEndtime,jdbcType=INTEGER},
      </if>
      <if test="goodsForm != null" >
        goods_form = #{goodsForm,jdbcType=BIT},
      </if>
      <if test="transportId != null" >
        transport_id = #{transportId,jdbcType=INTEGER},
      </if>
      <if test="pyPrice != null" >
        py_price = #{pyPrice,jdbcType=DECIMAL},
      </if>
      <if test="kdPrice != null" >
        kd_price = #{kdPrice,jdbcType=DECIMAL},
      </if>
      <if test="esPrice != null" >
        es_price = #{esPrice,jdbcType=DECIMAL},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="goodsCloseReason != null" >
        goods_close_reason = #{goodsCloseReason,jdbcType=VARCHAR},
      </if>
      <if test="goodsStoreState != null" >
        goods_store_state = #{goodsStoreState,jdbcType=BIT},
      </if>
      <if test="commentnum != null" >
        commentnum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="salenum != null" >
        salenum = #{salenum,jdbcType=INTEGER},
      </if>
      <if test="goodsCollect != null" >
        goods_collect = #{goodsCollect,jdbcType=INTEGER},
      </if>
      <if test="goodsGoldnum != null" >
        goods_goldnum = #{goodsGoldnum,jdbcType=INTEGER},
      </if>
      <if test="goodsIsztc != null" >
        goods_isztc = #{goodsIsztc,jdbcType=BIT},
      </if>
      <if test="goodsZtcstate != null" >
        goods_ztcstate = #{goodsZtcstate,jdbcType=BIT},
      </if>
      <if test="goodsZtcstartdate != null" >
        goods_ztcstartdate = #{goodsZtcstartdate,jdbcType=INTEGER},
      </if>
      <if test="goodsZtclastdate != null" >
        goods_ztclastdate = #{goodsZtclastdate,jdbcType=INTEGER},
      </if>
      <if test="groupFlag != null" >
        group_flag = #{groupFlag,jdbcType=BIT},
      </if>
      <if test="groupPrice != null" >
        group_price = #{groupPrice,jdbcType=DECIMAL},
      </if>
      <if test="xianshiFlag != null" >
        xianshi_flag = #{xianshiFlag,jdbcType=BIT},
      </if>
      <if test="xianshiDiscount != null" >
        xianshi_discount = #{xianshiDiscount,jdbcType=DECIMAL},
      </if>
      <if test="goodsTransfeeCharge != null" >
        goods_transfee_charge = #{goodsTransfeeCharge,jdbcType=BIT},
      </if>
      <if test="goodsImageMore != null" >
        goods_image_more = #{goodsImageMore,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsBody != null" >
        goods_body = #{goodsBody,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsAttr != null" >
        goods_attr = #{goodsAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsSpec != null" >
        goods_spec = #{goodsSpec,jdbcType=LONGVARCHAR},
      </if>
      <if test="goodsColImg != null" >
        goods_col_img = #{goodsColImg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.meirengu.medical.model.Goods" >
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      gc_id = #{gcId,jdbcType=INTEGER},
      gc_name = #{gcName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      spec_open = #{specOpen,jdbcType=BIT},
      spec_id = #{specId,jdbcType=INTEGER},
      spec_name = #{specName,jdbcType=VARCHAR},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_store_price = #{goodsStorePrice,jdbcType=DECIMAL},
      goods_store_price_interval = #{goodsStorePriceInterval,jdbcType=VARCHAR},
      goods_serial = #{goodsSerial,jdbcType=VARCHAR},
      goods_show = #{goodsShow,jdbcType=BIT},
      goods_click = #{goodsClick,jdbcType=INTEGER},
      goods_state = #{goodsState,jdbcType=BIT},
      goods_commend = #{goodsCommend,jdbcType=BIT},
      goods_add_time = #{goodsAddTime,jdbcType=INTEGER},
      goods_keywords = #{goodsKeywords,jdbcType=VARCHAR},
      goods_description = #{goodsDescription,jdbcType=VARCHAR},
      goods_starttime = #{goodsStarttime,jdbcType=INTEGER},
      goods_endtime = #{goodsEndtime,jdbcType=INTEGER},
      goods_form = #{goodsForm,jdbcType=BIT},
      transport_id = #{transportId,jdbcType=INTEGER},
      py_price = #{pyPrice,jdbcType=DECIMAL},
      kd_price = #{kdPrice,jdbcType=DECIMAL},
      es_price = #{esPrice,jdbcType=DECIMAL},
      city_id = #{cityId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      goods_close_reason = #{goodsCloseReason,jdbcType=VARCHAR},
      goods_store_state = #{goodsStoreState,jdbcType=BIT},
      commentnum = #{commentnum,jdbcType=INTEGER},
      salenum = #{salenum,jdbcType=INTEGER},
      goods_collect = #{goodsCollect,jdbcType=INTEGER},
      goods_goldnum = #{goodsGoldnum,jdbcType=INTEGER},
      goods_isztc = #{goodsIsztc,jdbcType=BIT},
      goods_ztcstate = #{goodsZtcstate,jdbcType=BIT},
      goods_ztcstartdate = #{goodsZtcstartdate,jdbcType=INTEGER},
      goods_ztclastdate = #{goodsZtclastdate,jdbcType=INTEGER},
      group_flag = #{groupFlag,jdbcType=BIT},
      group_price = #{groupPrice,jdbcType=DECIMAL},
      xianshi_flag = #{xianshiFlag,jdbcType=BIT},
      xianshi_discount = #{xianshiDiscount,jdbcType=DECIMAL},
      goods_transfee_charge = #{goodsTransfeeCharge,jdbcType=BIT},
      goods_image_more = #{goodsImageMore,jdbcType=LONGVARCHAR},
      goods_body = #{goodsBody,jdbcType=LONGVARCHAR},
      goods_attr = #{goodsAttr,jdbcType=LONGVARCHAR},
      goods_spec = #{goodsSpec,jdbcType=LONGVARCHAR},
      goods_col_img = #{goodsColImg,jdbcType=LONGVARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meirengu.medical.model.Goods" >
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      gc_id = #{gcId,jdbcType=INTEGER},
      gc_name = #{gcName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      spec_open = #{specOpen,jdbcType=BIT},
      spec_id = #{specId,jdbcType=INTEGER},
      spec_name = #{specName,jdbcType=VARCHAR},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      goods_store_price = #{goodsStorePrice,jdbcType=DECIMAL},
      goods_store_price_interval = #{goodsStorePriceInterval,jdbcType=VARCHAR},
      goods_serial = #{goodsSerial,jdbcType=VARCHAR},
      goods_show = #{goodsShow,jdbcType=BIT},
      goods_click = #{goodsClick,jdbcType=INTEGER},
      goods_state = #{goodsState,jdbcType=BIT},
      goods_commend = #{goodsCommend,jdbcType=BIT},
      goods_add_time = #{goodsAddTime,jdbcType=INTEGER},
      goods_keywords = #{goodsKeywords,jdbcType=VARCHAR},
      goods_description = #{goodsDescription,jdbcType=VARCHAR},
      goods_starttime = #{goodsStarttime,jdbcType=INTEGER},
      goods_endtime = #{goodsEndtime,jdbcType=INTEGER},
      goods_form = #{goodsForm,jdbcType=BIT},
      transport_id = #{transportId,jdbcType=INTEGER},
      py_price = #{pyPrice,jdbcType=DECIMAL},
      kd_price = #{kdPrice,jdbcType=DECIMAL},
      es_price = #{esPrice,jdbcType=DECIMAL},
      city_id = #{cityId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      goods_close_reason = #{goodsCloseReason,jdbcType=VARCHAR},
      goods_store_state = #{goodsStoreState,jdbcType=BIT},
      commentnum = #{commentnum,jdbcType=INTEGER},
      salenum = #{salenum,jdbcType=INTEGER},
      goods_collect = #{goodsCollect,jdbcType=INTEGER},
      goods_goldnum = #{goodsGoldnum,jdbcType=INTEGER},
      goods_isztc = #{goodsIsztc,jdbcType=BIT},
      goods_ztcstate = #{goodsZtcstate,jdbcType=BIT},
      goods_ztcstartdate = #{goodsZtcstartdate,jdbcType=INTEGER},
      goods_ztclastdate = #{goodsZtclastdate,jdbcType=INTEGER},
      group_flag = #{groupFlag,jdbcType=BIT},
      group_price = #{groupPrice,jdbcType=DECIMAL},
      xianshi_flag = #{xianshiFlag,jdbcType=BIT},
      xianshi_discount = #{xianshiDiscount,jdbcType=DECIMAL},
      goods_transfee_charge = #{goodsTransfeeCharge,jdbcType=BIT}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>