<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.news.dao.ArticleDao" >

	<resultMap id="articleMap" type="Article">
		<id column="article_id" property="articleId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="ac_id" property="acId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="article_url" property="articleUrl" jdbcType="VARCHAR" javaType="String"/>
		<result column="article_label" property="articleLabel" jdbcType="VARCHAR" javaType="String"/>
		<result column="article_show" property="articleShow" jdbcType="TINYINT" javaType="Integer"/>
		<result column="article_sort" property="articleSort" jdbcType="TINYINT" javaType="Integer"/>
		<result column="article_img" property="articleImg" jdbcType="VARCHAR" javaType="String"/>
		<result column="article_title" property="articleTitle" jdbcType="VARCHAR" javaType="String"/>
		<result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" javaType="String"/>
		<result column="article_is_banner" property="articleIsBanner" jdbcType="TINYINT" javaType="Integer"/>
		<result column="article_is_commend" property="articleIsCommend" jdbcType="TINYINT" javaType="Integer"/>
		<result column="article_is_publish" property="articleIsPublish" jdbcType="TINYINT" javaType="Integer"/>
		<result column="article_time" property="articleTime" jdbcType="DATE" javaType="Date"/>
		<result column="flag" property="flag" jdbcType="TINYINT" javaType="Integer"/>
		<result column="create_user" property="createUser" jdbcType="INTEGER" javaType="Integer"/>
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" javaType="String"/>
		<result column="create_user_img" property="createUserImg" jdbcType="VARCHAR" javaType="String"/>
		<result column="create_user_type" property="createUserType" jdbcType="TINYINT" javaType="Integer"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="Date"/>
	</resultMap>

	<sql id="table_name">`article`</sql>
	<sql id="select_columns">
		article_id as articleId, ac_id as acId, article_url as articleUrl, article_label as articleLabel, article_show as articleShow, article_sort as articleSort, article_img as articleImg, article_title as articleTitle, article_content as articleContent, article_is_banner as articleIsBanner, article_is_commend as articleIsCommend, article_is_publish as articleIsPublish, article_time as articleTime, flag as flag, create_user as createUser, create_user_name as createUserName, create_user_img as createUserImg, create_user_type as createUserType, create_time as createTime
	</sql>

	<insert id="insert" parameterType="article" useGeneratedKeys="true" keyProperty="articleId" >
		INSERT INTO <include refid="table_name" />
			(article_id, ac_id, article_url, article_label, article_show, article_sort, article_img, article_title, article_content, article_is_banner, article_is_commend, article_is_publish, article_time, flag, create_user, create_user_name, create_user_img, create_user_type, create_time)
		VALUES
			(#{articleId}, #{acId}, #{articleUrl}, #{articleLabel}, #{articleShow}, #{articleSort}, #{articleImg}, #{articleTitle}, #{articleContent}, #{articleIsBanner}, #{articleIsCommend}, #{articleIsPublish}, #{articleTime}, #{flag}, #{createUser}, #{createUserName}, #{createUserImg}, #{createUserType}, #{createTime})
	</insert>

	<update id="update" parameterType="article">
		UPDATE <include refid="table_name" />
		<set>
			<if test="acId != null">
				ac_id=#{acId},
			</if>
			<if test="articleUrl != null and articleUrl != ''">
				article_url=#{articleUrl},
			</if>
			<if test="articleLabel != null and articleLabel != ''">
				article_label=#{articleLabel},
			</if>
			<if test="articleShow != null">
				article_show=#{articleShow},
			</if>
			<if test="articleSort != null">
				article_sort=#{articleSort},
			</if>
			<if test="articleImg != null and articleImg != ''">
				article_img=#{articleImg},
			</if>
			<if test="articleTitle != null and articleTitle != ''">
				article_title=#{articleTitle},
			</if>
			<if test="articleContent != null and articleContent != ''">
				article_content=#{articleContent},
			</if>
			<if test="articleIsBanner != null">
				article_is_banner=#{articleIsBanner},
			</if>
			<if test="articleIsCommend != null">
				article_is_commend=#{articleIsCommend},
			</if>
			<if test="articleIsPublish != null">
				article_is_publish=#{articleIsPublish},
			</if>
			<if test="articleTime != null">
				article_time=#{articleTime},
			</if>
			<if test="flag != null">
				flag=#{flag},
			</if>
			<if test="createUser != null and createUser != ''">
				create_user=#{createUser},
			</if>
			<if test="createUserName != null and createUserName != ''">
				create_user_name=#{createUserName},
			</if>
			<if test="createUserImg != null and createUserImg != ''">
				create_user_img=#{createUserImg},
			</if>
			<if test="createUserType != null">
				create_user_type=#{createUserType},
			</if>
		</set>
		<where>
			article_id = #{articleId}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="article">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where article_id=#{id}
	</select>

	<update id="delete" parameterType="integer">
		update <include refid="table_name" /> SET flag=0 WHERE article_id=#{id} AND flag=1
	</update>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />  FROM <include refid="table_name" />
		where 1=1
		<if test="acId != null and acId != ''">
			and ac_id=#{acId}
		</if>
		order by article_sort asc, article_time desc
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1) FROM <include refid="table_name" />
		where 1=1
		<if test="acId != null and acId != ''">
			and ac_id=#{acId}
		</if>
		order by article_sort asc, article_time desc
	</select>
	<!-- 分页相关结束 -->
</mapper>