<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.news.dao.ArticleClassDao" >

	<resultMap id="articleClassMap" type="ArticleClass">
		<id column="ac_id" property="acId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="ac_code" property="acCode" jdbcType="VARCHAR" javaType="String"/>
		<result column="ac_name" property="acName" jdbcType="VARCHAR" javaType="String"/>
		<result column="ac_parent_id" property="acParentId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="ac_sort" property="acSort" jdbcType="TINYINT" javaType="Integer"/>
		<result column="flag" property="flag" jdbcType="TINYINT" javaType="Integer"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="Date"/>
	</resultMap>

	<sql id="table_name">`article_class`</sql>
	<sql id="select_columns">
		ac_id as acId, ac_code as acCode, ac_name as acName, ac_parent_id as acParentId, ac_sort as acSort, flag as flag, create_time as createTime
	</sql>

	<insert id="insert" parameterType="articleClass" useGeneratedKeys="true" keyProperty="acId" >
		INSERT INTO <include refid="table_name" />
			(ac_id, ac_code, ac_name, ac_parent_id, ac_sort, flag, create_time)
		VALUES
			(#{acId}, #{acCode}, #{acName}, #{acParentId}, #{acSort}, #{flag}, #{createTime})
	</insert>

	<update id="update" parameterType="articleClass">
		UPDATE <include refid="table_name" />
		<set>
			<if test="acCode != null and acCode != ''">
				ac_code=#{acCode},
			</if>
			<if test="acName != null and acName != ''">
				ac_name=#{acName},
			</if>
			<if test="acParentId != null and acParentId != ''">
				ac_parent_id=#{acParentId},
			</if>
			<if test="acSort != null">
				ac_sort=#{acSort},
			</if>
			<if test="flag != null">
				flag=#{flag},
			</if>
		</set>
		<where>
			ac_id = #{acId}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="articleClass">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where ac_id=#{id}
	</select>

	<update id="delete" parameterType="integer">
		update <include refid="table_name" /> SET flag=0 WHERE ac_id=#{id} AND flag=1
	</update>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />  FROM <include refid="table_name" />
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1) FROM <include refid="table_name" />
	</select>
	<!-- 分页相关结束 -->
</mapper>