<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.news.dao.ArticleDao" >

    <resultMap id="article" type="article">
        <id column="article_id" property="id" jdbcType="INTEGER" javaType="int"/>
        <result column="ac_id" property="acId" jdbcType="INTEGER" javaType="int"/>
        <result column="article_url" property="url" jdbcType="VARCHAR" javaType="string"/>
        <result column="article_show" property="show" jdbcType="TINYINT" javaType="int"/>
        <result column="article_sort" property="sort" jdbcType="TINYINT" javaType="int"/>
        <result column="article_title" property="title" jdbcType="VARCHAR" javaType="string"/>
        <result column="article_content" property="content" jdbcType="VARCHAR" javaType="string"/>
        <result column="article_time" property="time" jdbcType="DATE" javaType="Date"/>
        <result column="flag" property="flag" jdbcType="TINYINT" javaType="int"/>
    </resultMap>

    <sql id='table_name'>article</sql>
    <sql id="select_columns">
        article_id as id, ac_id as acId, article_url as url, article_show as `show`,
        article_sort as sort, article_img as img, article_title as title, article_content as content,
        article_is_banner as isBanner, article_is_commend as isCommend, article_time as `time`,
        article_is_publish as isPublish, flag , create_time as createTime
    </sql>

    <insert id="insert" parameterType="article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="table_name" />
        (article_id, ac_id, article_url, article_show, article_sort, article_img, article_title,
        article_content, article_is_banner, article_is_commend, article_is_publish)
        VALUES
        (#{id}, #{acId}, #{url}, #{show}, #{sort}, #{img}, #{title}, #{content}, #{isBanner}, #{isCommend}, #{isPublish});
    </insert>
    <update id="update" parameterType="article">
        update <include refid="table_name" />
        <set>
            <if test="acId != null and acId != '' and acId != 0">
                ac_id=#{acId},
            </if>
            <if test="url != null and url != ''">
                article_url=#{url},
            </if>
            <if test="show != null and show != ''">
                article_show=#{show},
            </if>
            <if test="sort != null and sort != ''">
                article_sort=#{sort},
            </if>
            <if test="title != null and title != ''">
                article_title=#{title},
            </if>
            <if test="content != null and content != ''">
                article_content=#{content},
            </if>
            <if test="img != null and img != ''">
                article_img=#{img},
            </if>
                article_is_banner=#{isBanner},
                article_is_commend=#{isCommend},
                article_is_publish=#{isPublish}
        </set>
        <where>
            article_id = #{id} and flag=1
        </where>
    </update>

    <update id="delete" parameterType="INTEGER">
        update <include refid="table_name" /> set flag=0 WHERE article_id=#{id}
    </update>

    <select id="detail" parameterType="INTEGER" resultType="Map">
        SELECT <include refid="select_columns" />, '' as userHeader, '美人谷' as nickName
        FROM article WHERE article_id=#{id} AND flag=1
    </select>

    <update id="publish" parameterType="Map" >
        update <include refid="table_name" /> set article_is_publish=#{isPublish}, article_time=now() WHERE article_id=#{id} and flag=1
    </update>

    <!-- 分页相关开始 -->
    <select id="getByPage" resultType="Map" parameterType="Map">
        select <include refid="select_columns" />, '' as userHeader, '美人谷' as nickName,
        0 AS readNum, 0 AS commentNum, 0 AS collectNum,
        (SELECT ac_name FROM article_class ac WHERE ac.ac_id=a.ac_id) AS className
        from
        <include refid="table_name" /> a
        where flag=1
        <if test="id != null and id != '' and id != 0">
            AND article_id=#{id}
        </if>
        <if test="acId != null and acId != '' and acId != 0">
            AND ac_id=#{acId}
        </if>
        <if test="isBanner != null and isBanner != ''">
            AND article_is_banner=#{isBanner}
        </if>
        <if test="show != null and show != ''">
            AND article_show=#{show}
        </if>
        <if test="isCommend != null and isCommend != ''">
            AND article_is_commend=#{isCommend}
        </if>
        <if test="isPublish != null and isPublish != ''">
            AND article_is_publish=#{isPublish}
        </if>

        <if test="sortBy != null and sortBy != '' and order != null and order != ''">
            order by #{sortBy} #{order}
        </if>
    </select>

    <select id="getTotalCount" parameterType="Map" resultType="Integer">
        select count(*)
        from
        <include refid="table_name" />
        where flag=1
        <if test="id != null and id != '' and id != 0">
            AND article_id=#{id}
        </if>
        <if test="acId != null and acId != '' and acId != 0">
            AND ac_id=#{acId}
        </if>
        <if test="isBanner != null and isBanner != ''">
            AND article_is_banner=#{isBanner}
        </if>
        <if test="show != null and show != ''">
            AND article_show=#{show}
        </if>
        <if test="isCommend != null and isCommend != ''">
            AND article_is_commend=#{isCommend}
        </if>
        <if test="isPublish != null and isPublish != ''">
            AND article_is_publish=#{isPublish}
        </if>

        <if test="sortBy != null and sortBy != '' and order != null and order != ''">
            order by #{sortBy} #{order}
        </if>
    </select>
    <!-- 分页相关结束 -->

</mapper>