<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.uc.dao.ProvincesMapper">
	<!-- 省市列表 -->
	<select id="showProvinceList" resultType="com.meirengu.uc.model.Provinces">
		select * from province
	</select>
</mapper>