<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.uc.dao.UserNotifyDao" >

	<resultMap id="userNotifyMap" type="UserNotify">
		<id column="id" property="id" jdbcType="INTEGER" javaType="Integer"/>
		<result column="notify_id" property="notifyId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="user_id" property="userId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="is_read" property="isRead" jdbcType="TINYINT" javaType="Integer"/>
		<result column="create_time" property="createTime" jdbcType="DATE" javaType="Date"/>
	</resultMap>

	<sql id="table_name">`user_notify`</sql>
	<sql id="select_columns">
		id as id, notify_id as notifyId, user_id as userId, is_read as isRead, create_time as createTime
	</sql>

	<insert id="insert" parameterType="userNotify" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO <include refid="table_name" />
			(id, notify_id, user_id, is_read, create_time)
		VALUES
			(#{id}, #{notifyId}, #{userId}, #{isRead}, #{createTime})
	</insert>

	<update id="update" parameterType="userNotify">
		UPDATE <include refid="table_name" />
		<set>
			<if test="isRead != null">
				is_read=#{isRead},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="userNotify">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where id=#{id}
	</select>

	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
		INSERT INTO <include refid="table_name" />
		(notify_id, user_id, is_read, create_time)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.notifyId}, #{item.userId}, #{item.isRead}, #{item.createTime})
		</foreach>
	</insert>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />  FROM <include refid="table_name" />
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1) FROM <include refid="table_name" />
	</select>
	<!-- 分页相关结束 -->
</mapper>