<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.uc.dao.UserDao">

    <resultMap id="User" type="User">
        <id column="user_id" property="userId" jdbcType="INTEGER" javaType="int"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR" javaType="string"/>
        <result column="realname" property="realname" jdbcType="VARCHAR" javaType="string"/>
        <result column="phone" property="phone" jdbcType="VARCHAR" javaType="string"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR" javaType="string"/>
        <result column="password" property="password" jdbcType="VARCHAR" javaType="string"/>
        <result column="bank_idcard" property="bankIdCard" jdbcType="VARCHAR" javaType="string"/>
        <result column="bank_phone" property="bankPhone" jdbcType="VARCHAR" javaType="string"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR" javaType="string"/>
        <result column="sex" property="sex" jdbcType="TINYINT" javaType="Boolean"/>
        <result column="birthday" property="birthday" jdbcType="DATE" javaType="Date"/>
        <result column="email" property="email" jdbcType="VARCHAR" javaType="string"/>
        <result column="qq" property="qq" jdbcType="VARCHAR" javaType="string"/>
        <result column="wx" property="wx" jdbcType="VARCHAR" javaType="string"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER" javaType="int"/>
        <result column="register_from" property="registerFrom" jdbcType="TINYINT" javaType="int"/>
        <result column="register_time" property="registerTime" jdbcType="DATE" javaType="Date"/>
        <result column="login_time" property="loginTime" jdbcType="DATE" javaType="Date"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="DATE" javaType="Date"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR" javaType="string"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" javaType="string"/>
        <result column="login_from" property="loginFrom" jdbcType="TINYINT" javaType="int"/>
        <result column="login_num" property="loginNum" jdbcType="INTEGER" javaType="int"/>
        <result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR" javaType="string"/>
        <result column="wx_info" property="wxInfo" jdbcType="VARCHAR" javaType="string"/>
        <result column="qq_openid" property="gqOpenid" jdbcType="VARCHAR" javaType="string"/>
        <result column="qq_info" property="qqInfo" jdbcType="VARCHAR" javaType="string"/>
        <result column="sina_openid" property="sinaOpenid" jdbcType="VARCHAR" javaType="string"/>
        <result column="sina_info" property="sinaInfo" jdbcType="VARCHAR" javaType="string"/>
        <result column="is_auth" property="isAuth" jdbcType="TINYINT" javaType="Boolean"/>
        <result column="is_buy" property="isBuy" jdbcType="TINYINT" javaType="Boolean"/>
        <result column="is_allow_inform" property="isAllowInform" jdbcType="TINYINT" javaType="Boolean"/>
        <result column="is_allow_talk" property="isAllowTalk" jdbcType="TINYINT" javaType="Boolean"/>
        <result column="state" property="state" jdbcType="TINYINT" javaType="Boolean"/>
    </resultMap>

    <sql id='table_name'>user</sql>
    <sql id="select_columns">
        user_id as userId, nickname, realname, phone, idcard as idCard, password,bank_code AS bankCode, bank_idcard as bankIdCard,bank_phone as bankPhone, avatar, sex,
        birthday,email,qq,wx,area_id as areaId,register_from as registerFrom,register_time as registerTime,login_time as loginTime,last_login_time as lastLoginTime,
        login_ip as loginIp,last_login_ip as lastLoginIp,login_from as loginFrom,login_num as loginNum,wx_openid as wxOpenid,wx_info as wxInfo,qq_openid as qqOpenid,qq_info as qqInfo,sina_openid as sinaOpenid,sina_info as sinaInfo,
        is_auth as isAuth,is_buy as isBuy,is_allow_inform as isAllowInform,is_allow_talk as isAllowTalk,state,invest_conditions AS investConditions
    </sql>

    <insert id="create" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
        <include refid="table_name"/>
        (user_id, nickname, realname, phone, idcard, password, bank_idcard,bank_phone, avatar, sex,
        birthday,email,qq,wx,area_id,register_from,register_time,login_time,last_login_time,
        login_ip,last_login_ip,login_from,login_num,wx_openid,wx_info,qq_openid,qq_info,sina_openid,
        sina_info,is_auth,is_buy,is_allow_inform,is_allow_talk,state)
        VALUES
        (#{userId}, #{nickname}, #{realname}, #{phone}, #{idCard}, #{password}, #{bankIdCard}, #{bankPhone}, #{avatar},#{sex},
        #{birthday}, #{email}, #{qq}, #{wx}, #{areaId}, #{registerFrom}, now(), now(),#{lastLoginTime},
        #{loginIp},#{lastLoginIp},#{loginFrom},#{loginNum},#{wxOpenid},#{wxInfo},#{qqOpenid},#{qqInfo},#{sinaOpenid},#{sinaInfo},
        #{isAuth}, #{isBuy}, #{isAllowInform}, #{isAllowTalk}, #{state});
    </insert>

    <update id="update" parameterType="User">
        update <include refid="table_name"/>
        <set>
            <if test="nickname != null and nickname != ''">
            nickname=#{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null and realname != ''">
                realname=#{realname,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null and idCard != ''">
                idcard=#{idCard,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password=#{password,jdbcType=VARCHAR},
            </if>
            <if test="bankIdCard != null and bankIdCard != ''">
                bank_idcard=#{bankIdCard,jdbcType=VARCHAR},
            </if>
            <if test="bankCode != null and bankCode != ''">
                bank_code=#{bankCode,jdbcType=VARCHAR},
            </if>
            <if test="bankPhone != null and bankPhone != ''">
                bank_phone=#{bankPhone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar=#{avatar,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex=#{sex,jdbcType=TINYINT},
            </if>
            <if test="birthday != null">
                birthday=#{birthday,jdbcType=DATE},
            </if>
            <if test="email != null and email != ''">
                email=#{email,jdbcType=VARCHAR},
            </if>
            <if test="qq != null and qq != ''">
                qq=#{qq,jdbcType=VARCHAR},
            </if>
            <if test="wx != null and wx != ''">
                wx=#{wx,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                area_id=#{areaId,jdbcType=INTEGER},
            </if>
            <if test="registerFrom != null">
                register_from=#{registerFrom,jdbcType=INTEGER},
            </if>
            <if test="registerTime != null">
                register_time=#{registerTime,jdbcType=DATE},
            </if>
            <if test="loginTime != null">
                login_time=#{loginTime,jdbcType=DATE},
            </if>
            <if test="lastLoginTime != null">
                last_login_time=#{lastLoginTime,jdbcType=DATE},
            </if>
            <if test="loginIp != null and loginIp !=''">
                login_ip=#{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                last_login_ip=#{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginFrom != null">
                login_from=#{loginFrom,jdbcType=VARCHAR},
            </if>
            <if test="loginNum != null">
                login_num=#{loginNum,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenid != null and wxOpenid != ''">
                wx_openid=#{wxOpenid,jdbcType=VARCHAR},
            </if>
            <if test="wxInfo != null and wxInfo != ''">
                wx_info=#{wxInfo,jdbcType=VARCHAR},
            </if>
            <if test="qqOpenid != null and qqOpenid != ''">
                qq_openid=#{qqOpenid,jdbcType=VARCHAR},
            </if>
            <if test="qqInfo != null and qqInfo != ''">
                qq_info=#{qqInfo,jdbcType=VARCHAR},
            </if>
            <if test="sinaOpenid != null and sinaOpenid != ''">
                sina_openid=#{sinaOpenid,jdbcType=VARCHAR},
            </if>
            <if test="sinaInfo != null and sinaInfo != ''">
                sina_info=#{sinaInfo,jdbcType=VARCHAR},
            </if>
            <if test="isAuth != null and isAuth != ''">
                is_auth=#{isAuth,jdbcType=INTEGER},
            </if>
            <if test="investConditions != null">
                invest_conditions=#{investConditions,jdbcType=INTEGER},
            </if>
            user_id=#{userId}
        </set>
        <where>
            user_id=#{userId} and state=1
        </where>
    </update>
    <update id="updatePasswordByPhone" parameterType="User">
        update <include refid="table_name"/>
        <set>
            password=#{password,jdbcType=VARCHAR},
        </set>
        <where>
            phone=#{phone} and state=1
        </where>
    </update>
    <update id="updateState" parameterType="User">
        update <include refid="table_name"/>
        <set>
            <if test="isAuth != null">
                is_auth=#{isAuth,jdbcType=TINYINT},
            </if>
            <if test="isBuy != isBuy">
                is_buy=#{isBuy,jdbcType=TINYINT},
            </if>
            <if test="isAllowInform != null">
                is_allow_inform=#{isAllowInform,jdbcType=TINYINT},
            </if>
            <if test="isAllowTalk != null">
                is_allow_talk=#{isAllowTalk,jdbcType=TINYINT},
            </if>
            <if test="state != state">
                state=#{state,jdbcType=TINYINT},
            </if>
        </set>
        <where>
            user_id=#{userId} and state=1
        </where>
    </update>

    <select id="retrieveByUserId" parameterType="INTEGER" resultType="User">
        SELECT <include refid="select_columns" />
        FROM <include refid="table_name"/>
        WHERE user_id=#{userId}   AND state = 1
    </select>

    <select id="retrieveByPhone" parameterType="String" resultType="User">
        SELECT <include refid="select_columns" />
        FROM <include refid="table_name"/>
        WHERE phone=#{phone}         AND state = 1
    </select>
    <select id="selectByInviterPhone" parameterType="String" resultType="User">
        SELECT <include refid="select_columns" />
        FROM <include refid="table_name"/>
        WHERE phone=#{mobileInviter}   AND state = 1
    </select>
    <select id="listUserAvatar" parameterType="List" resultType="User">
        SELECT user_id as userId,avatar
        FROM <include refid="table_name"/>
        WHERE state = 1 AND user_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getBankIdCard" parameterType="Map" resultType="Integer">
        select count(*)
        from
        <include refid="table_name" />
        WHERE  bank_idcard = #{bankIdcard}

    </select>
    <select id="getIdCard" parameterType="Map" resultType="Integer">
        select count(*)
        from
        <include refid="table_name" />
        WHERE  idcard = #{idcard}

    </select>
    <!-- 分页相关开始 -->
    <select id="getByPage" resultType="Map" parameterType="Map">
        select
        a.nickname,
        a.realname,
        a.phone,
        a.idcard AS idCard,
        a.bank_code AS bankCode,
        a.bank_idcard AS bankIdCard,
        a.bank_phone AS bankPhone,
        a.avatar,
        a.sex,
        a.birthday,
        a.email,
        a.area_id AS areaId,
        a.register_from AS registerFrom,
        a.register_time AS registerTime,
        a.login_time AS loginTime,
        a.last_login_time AS lastLoginTime,
        a.login_ip AS loginIp,
        a.last_login_ip AS lastLoginIp,
        a.login_from AS loginFrom,
        a.login_num AS loginNum,
        a.is_auth AS isAuth,
        a.is_buy AS isBuy,
        a.is_allow_inform AS isAllowInform,
        a.is_allow_talk AS isAllowTalk,
        a.state,
        ui.invited_user_phone AS invitedUserPhone,
        ui.register_time AS invitedRegisterTime,
        ui.invest_time AS invitedInvestTime,
        ui.reward AS invitedreward,
        u.realname AS invitedRealName,
        u.nickname AS invitedNickName,
        u.invest_conditions AS invitedInvestConditions,
        u.idcard AS invitedIdCard,
        u.bank_code AS invitedBankCode,
        u.bank_idcard AS invitedBankIdCard,
        u.bank_phone AS invitedBankPhone
        from  user_invite ui
        LEFT JOIN user a  on a.user_id = ui.user_id
        LEFT JOIN user u ON ui.invited_user_id = u.user_id
        <where> 1=1
            <if test="investConditions != null and investConditions != ''">
                AND a.invest_conditions=#{investConditions}
            </if>
            <if test="isAuth != null and isAuth != ''">
                AND a.is_auth=#{isAuth}
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone=#{phone}
            </if>
            <if test="realname != null and realname != ''">
                AND a.realname=#{realname}
            </if>
            <if test="idcard != null and idcard != ''">
                AND a.idcard=#{idcard}
            </if>
            <if test="invitePhone != null and invitePhone != ''">
                AND ui.invited_user_phone=#{invitePhone}
            </if>
            <if test="inviteRealname != null and inviteRealname != ''">
                AND u.realname=#{inviteRealname}
            </if>
            <if test="inviteIdcard != null and inviteIdcard != ''">
                AND u.idcard=#{inviteIdcard}
            </if>
        </where>
        <if test="sortBy != null and sortBy != '' and order != null and order != ''">
            order by #{sortBy} #{order}
        </if>
    </select>

    <select id="getCount" parameterType="Map" resultType="Integer">
        select count(*)
        from  user_invite ui
        LEFT JOIN user a  on a.user_id = ui.user_id
        LEFT JOIN user u ON ui.invited_user_id = u.user_id
        <where> 1=1
            <if test="investConditions != null and investConditions != ''">
                AND a.invest_conditions=#{investConditions}
            </if>
            <if test="isAuth != null and isAuth != ''">
                AND a.is_auth=#{isAuth}
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone=#{phone}
            </if>
            <if test="realname != null and realname != ''">
                AND a.realname=#{realname}
            </if>
            <if test="idcard != null and idcard != ''">
                AND a.idcard=#{idcard}
            </if>
            <if test="invitePhone != null and invitePhone != ''">
                AND ui.invited_user_phone=#{invitePhone}
            </if>
            <if test="inviteRealname != null and inviteRealname != ''">
                AND u.realname=#{inviteRealname}
            </if>
            <if test="inviteIdcard != null and inviteIdcard != ''">
                AND u.idcard=#{inviteIdcard}
            </if>
        </where>
        <if test="sortBy != null and sortBy != '' and order != null and order != ''">
            order by #{sortBy} #{order}
        </if>
    </select>
    <!-- 分页相关结束 -->

    <!-- 分页相关开始 -->
    <select id="getUserByPage" resultType="Map" parameterType="Map">
        select <include refid="select_columns" />
        from
        <include refid="table_name" />
        <where> 1=1
            <if test="investConditions != null">
                AND invest_conditions=#{investConditions}
            </if>
            <if test="isAuth != null">
                AND is_auth=#{isAuth}
            </if>
            <if test="phone != null and phone != ''">
                AND phone=#{phone}
            </if>
            <if test="realname != null and realname != ''">
                AND realname=#{realname}
            </if>
            <if test="idcard != null and idcard != ''">
                AND idcard=#{idcard}
            </if>
        </where>
        <if test="sortBy != null and sortBy != '' and order != null and order != ''">
            order by #{sortBy} #{order}
        </if>
    </select>

    <select id="getUserCount" parameterType="Map" resultType="Integer">
        select count(*)
        from
        <include refid="table_name" />
        <where> 1 = 1
            <if test="investConditions != null">
                AND invest_conditions=#{investConditions}
            </if>
            <if test="isAuth != null">
                AND is_auth=#{isAuth}
            </if>
            <if test="phone != null and phone != ''">
                AND phone=#{phone}
            </if>
            <if test="realname != null and realname != ''">
                AND realname=#{realname}
            </if>
            <if test="idcard != null and idcard != ''">
                AND idcard=#{idcard}
            </if>
        </where>
        <if test="sortBy != null and sortBy != '' and order != null and order != ''">
            order by #{sortBy} #{order}
        </if>
    </select>

    <!-- 分页相关结束 -->

</mapper>