<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.mall.dao.OrderDao" >


    <insert id="addOrder" parameterType="order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`
        (order_id, order_sn, doctor_id, hospital_id, user_id, user_name, user_email, user_phone, add_time, order_type,
        payment_id, payment_code, payment_direct, union_sn, out_sn, payment_time, pay_message, finished_time, invoice,
        item_amount, order_amount, order_message, order_state, refund_state, refund_amount, flag, order_from)
        VALUES
        (#{id}, #{orderSN}, #{doctorId}, #{hospitalId}, #{userId}, #{userName}, #{userEmail}, #{userPhone}, #{addTime}, #{orderType},
        #{paymentId}, #{paymentCode}, #{paymentDirect}, #{unionSN}, #{outSN}, #{paymentTime}, #{payMessage}, #{finishedTime}, #{invoice},
        #{itemAmount}, #{orderAmount}, #{orderMessage}, #{orderState}, #{refundState}, #{refundAmount}, #{flag}, #{orderFrom})
    </insert>

    <select id="detailList" parameterType="order" resultType="Map">
        SELECT oi.`item_name` as itemName, d.`doctor_name` as doctorName, d.doctor_id as doctorId, d.cultural_top as culturalTop,
        h.`hospital_name` as hospitalName, oi.item_price as itemPrice, oi.item_num as itemNum, oi.item_image as itemImage,
        '' AS appointCode, IFNULL(o.payment_time,'') as paymentTime, o.add_time as createTime,  d.mobile as doctorMobile,
        o.union_sn as unionSN, o.order_sn as orderSN, o.order_id as orderId, o.order_state as orderState,
        (SELECT GROUP_CONCAT(ic_name SEPARATOR '/') FROM item_class WHERE ic_id IN (i.`ic_id`)) AS itemClass FROM `order` o
        LEFT JOIN order_item oi ON oi.`order_id`=o.`order_id`
        LEFT JOIN item i ON i.item_id=oi.`item_id`
        LEFT JOIN hospital h ON oi.`hospital_id`=h.`hospital_id`
        LEFT JOIN doctor d ON d.`doctor_id`=i.`doctor_id`
        WHERE flag=1
        <if test="unionSN != null and unionSN != ''">
            AND o.union_sn=#{unionSN}
        </if>
        <if test="id != null and id != '' and id != 0">
            AND o.order_id=#{id}
        </if>
    </select>

    <update id="delete" parameterType="int">
        UPDATE `order` SET flag=0 WHERE flag=1 and order_id=#{orderId};
    </update>

    <update id="modifyState" parameterType="order">
        UPDATE `order` SET
        <if test="orderState != null and orderState != ''">
            order_state=#{orderState},
        </if>
        <if test="refundState != null and refundState != '' and refundState != 0">
            refund_state=#{refundState}
        </if>
        WHERE flag=1 and order_id=#{id};
    </update>

    <!-- 分页相关开始 -->
    <select id="getByPage" resultType="Map" parameterType="Map">
        SELECT o.`order_state` as orderState, oi.`item_name` as itemName, d.`doctor_name` as doctorName, d.`doctor_title` as doctorTitle,
        oi.item_num as itemNum, oi.item_price as itemPrice, o.order_sn as orderSN, d.mobile as doctorMobile, IFNULL(o.payment_time, '') as paymentTime,
        oi.item_image as itemImage, h.hospital_id as hospitalId, i.item_id as itemId, o.union_sn as unionSN,
        (SELECT GROUP_CONCAT(ic_name SEPARATOR '/') FROM item_class WHERE ic_id IN (i.`ic_id`)) AS itemClass
        FROM `order` o
        LEFT JOIN order_item oi ON o.`order_id`=oi.`order_id`
        LEFT JOIN item i ON i.item_id=oi.`item_id`
        LEFT JOIN hospital h ON oi.`hospital_id`=h.`hospital_id`
        LEFT JOIN doctor d ON oi.`doctor_id`=d.`doctor_id`
        WHERE o.`flag`=1
        <if test="state != null and state != ''">
            AND o.`order_state` IN (#{state})
        </if>
        <if test="userId != null and userId != ''">
            AND o.user_id=#{userId}
        </if>
        ORDER BY o.`add_time` DESC;

    </select>

    <select id="getTotalCount" parameterType="Map" resultType="Integer">
        SELECT count(o.order_id)
        FROM `order` o
        LEFT JOIN order_item oi ON o.`order_id`=oi.`order_id`
        LEFT JOIN item i ON i.item_id=oi.`item_id`
        LEFT JOIN hospital h ON oi.`hospital_id`=h.`hospital_id`
        LEFT JOIN doctor d ON oi.`doctor_id`=d.`doctor_id`
        WHERE o.`flag`=1
        <if test="state != null and state != ''">
            AND o.`order_state` IN (#{state})
        </if>
        <if test="userId != null and userId != ''">
            AND o.user_id=#{userId}
        </if>
        ORDER BY o.`add_time` DESC;
    </select>
    <!-- 分页相关结束 -->
</mapper>