<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.trade.dao.RebateReceiveDao" >

	<resultMap id="rebateReceiveMap" type="RebateReceive">
		<id column="id" property="id" jdbcType="INTEGER" javaType="Integer"/>
		<result column="user_id" property="userId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="user_phone" property="userPhone" jdbcType="VARCHAR" javaType="String"/>
		<result column="rebate_sn" property="rebateSn" jdbcType="VARCHAR" javaType="String"/>
		<result column="rebate_batch_id" property="rebateBatchId" jdbcType="INTEGER" javaType="Integer"/>
		<result column="activity_identification" property="activityIdentification" jdbcType="VARCHAR" javaType="String"/>
		<result column="receive_time" property="receiveTime" jdbcType="DATE" javaType="Date"/>
		<result column="status" property="status" jdbcType="TINYINT" javaType="Integer"/>
	</resultMap>

	<sql id="table_name">`rebate_receive`</sql>
	<sql id="select_columns">
		id as id, user_id as userId, user_phone as userPhone, rebate_sn as rebateSn, rebate_batch_id as rebateBatchId, activity_identification as activityIdentification, receive_time as receiveTime, status as status
	</sql>

	<sql id="select_tbcolumns">
		tb.id as id, tb.user_id as userId, tb.user_phone as userPhone, tb.rebate_sn as rebateSn, tb.rebate_batch_id as rebateBatchId, tb.activity_identification as activityIdentification, tb.receive_time as receiveTime, tb.status as status
	</sql>

	<insert id="insert" parameterType="rebateReceive" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO <include refid="table_name" />
			(id, user_id, user_phone, rebate_sn, rebate_batch_id, activity_identification, receive_time, status)
		VALUES
			(#{id}, #{userId}, #{userPhone}, #{rebateSn}, #{rebateBatchId}, #{activityIdentification}, #{receiveTime}, #{status})
	</insert>

	<update id="update" parameterType="rebateReceive">
		UPDATE <include refid="table_name" />
		<set>
			<if test="id != null and id != ''">
				id=#{id},
			</if>
			<if test="userId != null and userId != ''">
				user_id=#{userId},
			</if>
			<if test="userPhone != null and userPhone != ''">
				user_phone=#{userPhone},
			</if>
			<if test="rebateSn != null and rebateSn != ''">
				rebate_sn=#{rebateSn},
			</if>
			<if test="rebateBatchId != null and rebateBatchId != ''">
				rebate_batch_id=#{rebateBatchId},
			</if>
			<if test="activityIdentification != null and activityIdentification != ''">
				activity_identification=#{activityIdentification},
			</if>
			<if test="receiveTime != null and receiveTime != ''">
				receive_time=#{receiveTime},
			</if>
			<if test="status != null and status != ''">
				status=#{status},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="rebateReceive">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where id=#{id}
	</select>

	<sql id="findPage_where">
		<where>
			<if test="id != null">
				AND tb.id = #{id}
			</if>
			<if test="userId != null">
				AND tb.user_id = #{userId}
			</if>
			<if test="userPhone != null and userPhone != ''">
				AND tb.user_phone = #{userPhone}
			</if>
			<if test="rebateSn != null and rebateSn != ''">
				AND tb.rebate_sn = #{rebateSn}
			</if>
			<if test="rebateBatchId != null">
				AND tb.rebate_batch_id = #{rebateBatchId}
			</if>
			<if test="activityIdentification != null and activityIdentification != ''">
				AND tb.activity_identification = #{activityIdentification}
			</if>
			<if test="receiveTimeBegin != null">
				AND tb.receive_time >= #{receiveTimeBegin}
			</if>
			<if test="receiveTimeEnd != null">
				AND tb.receive_time &lt;= #{receiveTimeEnd}
			</if>
			<if test="status != null">
				AND tb.status = #{status}
			</if>
		</where>
	</sql>
	<!-- 分页相关开始 -->
	<select id="getRebateInfoByPage" resultType="Map" parameterType="Map">
		select <include refid="select_tbcolumns" />,trb.rebate_amount AS rebateAmount, trb.rebate_name AS rebateName, trb.rebate_scope AS rebateScope, tr.valid_start_time AS validStartTime, tr.valid_end_time AS validEndTime
		FROM
		<include refid="table_name" /> tb
		LEFT JOIN rebate tr
		ON tb.rebate_sn = tr.rebate_sn
		AND tb.user_id = #{userId}
		<if test="status != null and status != 0">
			AND tb.status = #{status}
		</if>
		LEFT JOIN rebate_batch trb
		ON tb.rebate_batch_id = trb.batch_id
		AND tb.user_id = #{userId}
		<if test="status != null and status != 0">
			AND tb.status = #{status}
		</if>
		WHERE tr.rebate_id is NOT NULL
	</select>

	<select id="getRebateInfoCount" parameterType="Map" resultType="Integer">
		select count(1)
		FROM
		<include refid="table_name" /> tb
		LEFT JOIN rebate tr
		ON tb.rebate_sn = tr.rebate_sn
		AND tb.user_id = #{userId}
		<if test="status != null and status != 0">
			AND tb.status = #{status}
		</if>
		LEFT JOIN rebate_batch trb
		ON tb.rebate_batch_id = trb.batch_id
		AND tb.user_id = #{userId}
		<if test="status != null and status != 0">
			AND tb.status = #{status}
		</if>
		WHERE tr.rebate_id is NOT NULL
	</select>
	<!-- 分页相关结束 -->
	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_tbcolumns" />
		FROM
		<include refid="table_name" /> tb
		<include refid="findPage_where"/>
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1)
		FROM
		<include refid="table_name" /> tb
		<include refid="findPage_where"/>
	</select>
	<!-- 分页相关结束 -->
</mapper>