<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.trade.dao.RebateBatchDao" >


	<sql id="table_name">`rebate_batch`</sql>
	<sql id="select_columns">
		batch_id as batchId, rebate_type as rebateType, rebate_limit_amount as rebateLimitAmount, rebate_use_range as rebateUseRange, rebate_use_range_value as rebateUseRangeValue, rebate_mark as rebateMark, rebate_name as rebateName, rebate_scope as rebateScope, rebate_amount as rebateAmount, rebate_limit as rebateLimit, valid_days as validDays, valid_start_time as validStartTime, valid_end_time as validEndTime, valid_type as validType, batch_statue as batchStatue, batch_count as batchCount, channel as channel, budget_amount as budgetAmount, remarks as remarks, create_time as createTime, update_time as updateTime, operate_account as operateAccount
	</sql>


	<insert id="insert" parameterType="rebateBatch" useGeneratedKeys="true" keyProperty="batchId" >
		INSERT INTO <include refid="table_name" />
			(batch_id, rebate_type, rebate_limit_amount, rebate_use_range, rebate_use_range_value, rebate_mark, rebate_name, rebate_scope, rebate_amount, rebate_limit, valid_days, valid_start_time, valid_end_time, valid_type, batch_statue, batch_count, channel, budget_amount, remarks, create_time, operate_account)
		VALUES
			(#{batchId}, #{rebateType}, #{rebateLimitAmount}, #{rebateUseRange}, #{rebateUseRangeValue}, #{rebateMark}, #{rebateName}, #{rebateScope}, #{rebateAmount}, #{rebateLimit}, #{validDays}, #{validStartTime}, #{validEndTime}, #{validType}, #{batchStatue}, #{batchCount}, #{channel}, #{budgetAmount}, #{remarks}, #{createTime}, #{operateAccount})
	</insert>

	<update id="update" parameterType="rebateBatch">
		UPDATE <include refid="table_name" />
		<set>
			<if test="@Ognl@isNotEmpty(rebateType)">
				rebate_type=#{rebateType},
			</if>
			<if test="@Ognl@isNotEmpty(rebateLimitAmount)">
				rebate_limit_amount=#{rebateLimitAmount},
			</if>
			<if test="@Ognl@isNotEmpty(rebateUseRange)">
				rebate_use_range=#{rebateUseRange},
			</if>
			<if test="@Ognl@isNotEmpty(rebateUseRangeValue)">
				rebate_use_range_value=#{rebateUseRangeValue},
			</if>
			<if test="@Ognl@isNotEmpty(rebateMark)">
				rebate_mark=#{rebateMark},
			</if>
			<if test="@Ognl@isNotEmpty(rebateName)">
				rebate_name=#{rebateName},
			</if>
			<if test="@Ognl@isNotEmpty(rebateScope)">
				rebate_scope=#{rebateScope},
			</if>
			<if test="@Ognl@isNotEmpty(rebateAmount)">
				rebate_amount=#{rebateAmount},
			</if>
			<if test="@Ognl@isNotEmpty(rebateLimit)">
				rebate_limit=#{rebateLimit},
			</if>
			<if test="@Ognl@isNotEmpty(validDays)">
				valid_days=#{validDays},
			</if>
			<if test="@Ognl@isNotEmpty(validStartTime)">
				valid_start_time=#{validStartTime},
			</if>
			<if test="@Ognl@isNotEmpty(validEndTime)">
				valid_end_time=#{validEndTime},
			</if>
			<if test="@Ognl@isNotEmpty(validType)">
				valid_type=#{validType},
			</if>
			<if test="@Ognl@isNotEmpty(batchStatue)">
				batch_statue=#{batchStatue},
			</if>
			<if test="@Ognl@isNotEmpty(batchCount)">
				batch_count=#{batchCount},
			</if>
			<if test="@Ognl@isNotEmpty(channel)">
				channel=#{channel},
			</if>
			<if test="@Ognl@isNotEmpty(budgetAmount)">
				budget_amount=#{budgetAmount},
			</if>
			<if test="@Ognl@isNotEmpty(remarks)">
				remarks=#{remarks},
			</if>
			<if test="@Ognl@isNotEmpty(createTime)">
				create_time=#{createTime},
			</if>
			<if test="@Ognl@isNotEmpty(updateTime)">
				update_time=#{updateTime},
			</if>
			<if test="@Ognl@isNotEmpty(operateAccount)">
				operate_account=#{operateAccount},
			</if>
		</set>
		<where>
			batch_id = #{batchId}
		</where>
	</update>

	<select id="detail" parameterType="integer" resultType="rebateBatch">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		where batch_id=#{id}
	</select>

	<sql id="findPage_where">
		<where>
			<if test="@Ognl@isNotEmpty(batchId)">
				AND batch_id=#{batchId}
			</if>
			<if test="@Ognl@isNotEmpty(rebateType)">
				AND rebate_type=#{rebateType}
			</if>
			<if test="@Ognl@isNotEmpty(rebateLimitAmount)">
				AND rebate_limit_amount=#{rebateLimitAmount}
			</if>
			<if test="@Ognl@isNotEmpty(rebateUseRange)">
				AND rebate_use_range=#{rebateUseRange}
			</if>
			<if test="@Ognl@isNotEmpty(rebateUseRangeValue)">
				AND rebate_use_range_value=#{rebateUseRangeValue}
			</if>
			<if test="@Ognl@isNotEmpty(rebateMark)">
				AND rebate_mark=#{rebateMark}
			</if>
			<if test="@Ognl@isNotEmpty(rebateName)">
				AND rebate_name=#{rebateName}
			</if>
			<if test="@Ognl@isNotEmpty(rebateScope)">
				AND rebate_scope=#{rebateScope}
			</if>
			<if test="@Ognl@isNotEmpty(rebateAmount)">
				AND rebate_amount=#{rebateAmount}
			</if>
			<if test="@Ognl@isNotEmpty(rebateLimit)">
				AND rebate_limit=#{rebateLimit}
			</if>
			<if test="@Ognl@isNotEmpty(validDays)">
				AND valid_days=#{validDays}
			</if>
			<if test="@Ognl@isNotEmpty(validStartTime)">
				AND valid_start_time=#{validStartTime}
			</if>
			<if test="@Ognl@isNotEmpty(validEndTime)">
				AND valid_end_time=#{validEndTime}
			</if>
			<if test="@Ognl@isNotEmpty(validType)">
				AND valid_type=#{validType}
			</if>
			<if test="@Ognl@isNotEmpty(batchStatue)">
				AND batch_statue=#{batchStatue}
			</if>
			<if test="@Ognl@isNotEmpty(batchCount)">
				AND batch_count=#{batchCount}
			</if>
			<if test="@Ognl@isNotEmpty(channel)">
				AND channel=#{channel}
			</if>
			<if test="@Ognl@isNotEmpty(budgetAmount)">
				AND budget_amount=#{budgetAmount}
			</if>
			<if test="@Ognl@isNotEmpty(remarks)">
				AND remarks=#{remarks}
			</if>
			<if test="@Ognl@isNotEmpty(createTime)">
				AND create_time=#{createTime}
			</if>
			<if test="@Ognl@isNotEmpty(updateTime)">
				AND update_time=#{updateTime}
			</if>
			<if test="@Ognl@isNotEmpty(operateAccount)">
				AND operate_account=#{operateAccount}
			</if>
		</where>
	</sql>

	<select id="findByCondition" parameterType="Map" resultType="rebateBatch">
		select <include refid="select_columns" /> from <include refid="table_name"/>
		<include refid="findPage_where"/>
	</select>

	<!-- 分页相关开始 -->
	<select id="getByPage" resultType="Map" parameterType="Map">
		select <include refid="select_columns" />
		FROM <include refid="table_name" />
		<include refid="findPage_where"/>
		<if test="@Ognl@isNotEmpty(sortBy) and @Ognl@isNotEmpty(order)">
			order by ${sortBy} ${order}
		</if>
	</select>

	<select id="getCount" parameterType="Map" resultType="Integer">
		select count(1)
		FROM <include refid="table_name" />
		<include refid="findPage_where"/>
	</select>
	<!-- 分页相关结束 -->
</mapper>