<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meirengu.commons.authority.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.meirengu.commons.authority.model.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="operate_account" jdbcType="VARCHAR" property="operateAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, real_name, user_phone, user_email, organization_id, status,
    create_time, expire_time, operate_account
  </sql>
  <select id="findUser" parameterType="com.meirengu.commons.authority.model.Account" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account a
    where 1=1
    <if test="id != null">
      AND a.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="userName != null">
      AND a.user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      AND a.`password` = #{password,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="getAllUser" parameterType="com.meirengu.commons.authority.model.Account" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account a
    where 1=1
    <if test="id != null">
      AND a.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="userName != null">
      AND a.user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="realName != null">
      AND a.real_name = #{realName,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      AND a.`password` = #{password,jdbcType=VARCHAR}
    </if>
  </select>
  <insert id="insert" parameterType="com.meirengu.commons.authority.model.Account"  useGeneratedKeys="true" keyProperty="id" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="operateAccount != null" >
        operate_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateAccount != null" >
        #{operateAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateAccount" parameterType="com.meirengu.commons.authority.model.Account" >
    update account
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateAccount != null" >
        operate_account = #{operateAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>