<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.commons.authority.dao.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.meirengu.commons.authority.model.Organization" >
    <id column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    <result column="organization_parent_id" property="organizationParentId" jdbcType="INTEGER" />
    <result column="organization_status" property="organizationStatus" jdbcType="BIT" />
    <result column="organization_sort" property="organizationSort" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operate_account" property="operateAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    organization_id, organization_name, organization_parent_id, organization_status, 
    organization_sort, create_time, update_time, operate_account
  </sql>
  <select id="getOrganization" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from organization
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </select>
  <select id="getAllOrganization" resultMap="BaseResultMap" parameterType="com.meirengu.commons.authority.model.Organization" >
    select
    <include refid="Base_Column_List" />
    from organization
    where 1=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from organization
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meirengu.commons.authority.model.Organization" >
    insert into organization (organization_id, organization_name, 
      organization_parent_id, organization_status, organization_sort, 
      create_time, update_time, operate_account
      )
    values (#{organizationId,jdbcType=INTEGER}, #{organizationName,jdbcType=VARCHAR}, 
      #{organizationParentId,jdbcType=INTEGER}, #{organizationStatus,jdbcType=BIT}, #{organizationSort,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{operateAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meirengu.commons.authority.model.Organization" >
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="organizationParentId != null" >
        organization_parent_id,
      </if>
      <if test="organizationStatus != null" >
        organization_status,
      </if>
      <if test="organizationSort != null" >
        organization_sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="operateAccount != null" >
        operate_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationParentId != null" >
        #{organizationParentId,jdbcType=INTEGER},
      </if>
      <if test="organizationStatus != null" >
        #{organizationStatus,jdbcType=BIT},
      </if>
      <if test="organizationSort != null" >
        #{organizationSort,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateAccount != null" >
        #{operateAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meirengu.commons.authority.model.Organization" >
    update organization
    <set >
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="organizationParentId != null" >
        organization_parent_id = #{organizationParentId,jdbcType=INTEGER},
      </if>
      <if test="organizationStatus != null" >
        organization_status = #{organizationStatus,jdbcType=BIT},
      </if>
      <if test="organizationSort != null" >
        organization_sort = #{organizationSort,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateAccount != null" >
        operate_account = #{operateAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meirengu.commons.authority.model.Organization" >
    update organization
    set organization_name = #{organizationName,jdbcType=VARCHAR},
      organization_parent_id = #{organizationParentId,jdbcType=INTEGER},
      organization_status = #{organizationStatus,jdbcType=BIT},
      organization_sort = #{organizationSort,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operate_account = #{operateAccount,jdbcType=VARCHAR}
    where organization_id = #{organizationId,jdbcType=INTEGER}
  </update>
</mapper>