<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meirengu.commons.authority.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.meirengu.commons.authority.model.Permission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, name, value, description
  </sql>
  <select id="findPermission" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
      <include refid="Base_Column_List" />
    FROM
     permission p
    WHERE
      p.id IN (
    SELECT DISTINCT
     rp.permission_id
    FROM
     role_permission rp
    WHERE
      rp.role_id IN (
    0,
    <foreach collection="list" item="item" open="" close="" separator=",">
${item.id}
    </foreach>
    )
    )
  </select>
    <select id="getAllPermission" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        FROM
        permission p
        WHERE
        p.id IN (
        SELECT DISTINCT
        rp.permission_id
        FROM
        role_permission rp
        )
    </select>
</mapper>