<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meirengu.commons.authority.dao.RoleAccountMapper">
  <resultMap id="BaseResultMap" type="com.meirengu.commons.authority.model.RoleAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, account_id
  </sql>
</mapper>