<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meirengu.commons.authority.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.meirengu.commons.authority.model.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, description
  </sql>

  <select id="findRoleList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    FROM
      role r
    WHERE
     r.id IN (
    SELECT
      role_id
    FROM
     role_account ra
    WHERE
      ra.account_id =  #{accountId,jdbcType=BIGINT}
    )
  </select>

  <select id="findRoleAll" parameterType="com.meirengu.commons.authority.model.Role" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM
    role r
    WHERE
    1=1
    <if test="name != null">
      AND a.name = #{name,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="findRoleDetail" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertRole" parameterType="com.meirengu.commons.authority.model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteRole" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateRole" parameterType="com.meirengu.commons.authority.model.Role">
    update role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>