<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meirengu.commons.authority.dao.UserDao" >
    
<insert id="saveUser" parameterType="User">
	insert into user (name, password,nickName,jobNumber,createTime) values(#{name}, #{password},#{nickName},#{jobNumber},now())    
</insert>  

<update id="modifyUser" parameterType="User">
	update user
	<set>
		<if test="name !=null and name !=''">
			name=#{name},
		</if>
		<if test="password !=null and password !=''">
			password=#{password},
		</if>
		<if test="nickName !=null and nickName !=''">
			nickName=#{nickName},
		</if>
		<if test="jobNumber !=null and jobNumber !=''">
			jobNumber=#{jobNumber}
		</if>
	</set>
	where id=#{id}
</update>

<delete id="deleteUser" parameterType="List">
	delete from user where id in
	<foreach collection="list" item="item" open="(" close=")" separator=",">
	    #{item}
	</foreach> 
</delete>

<delete id="deleteRelated" parameterType="List">
	delete from user_role where user_id in
	<foreach collection="list" item="item" open="(" close=")" separator=",">
	    #{item}
	</foreach> 
</delete>

<select id="findById" parameterType="Integer" resultType="User">
    select * from user where id=#{id};
</select>

<select id="findByUsername" parameterType="String" resultType="User">
	select id, name, password from  user where name=#{name};
</select>

<select id="getByPage" resultType="User">
    select * from user where 1=1
    <if test="name != null and name != ''">
      and name like CONCAT(CONCAT('%', #{name}), '%')
    </if>
    <if test="nickName != null and nickName != ''">
      and nickName like CONCAT(CONCAT('%', #{nickName}), '%')
    </if>
    <if test="jobNumber != null and jobNumber != ''">
      and jobNumber = #{jobNumber}
    </if>
    order by createTime, id;
</select>

<select id="getTotalCount" parameterType="User" resultType="Integer">
	select count(*) from user where 1=1
	<if test="name != null and name !='' ">
	and name like CONCAT(CONCAT('%', #{name}), '%')    
	</if>
	<if test="nickName != null and nickName != ''">
      and nickName like CONCAT(CONCAT('%', #{nickName}), '%')
    </if>
    <if test="jobNumber != null and jobNumber != ''">
      and jobNumber = #{jobNumber}
    </if>
    order by createTime, id;
</select>

</mapper>